body{
    background-color: #EDE3DB;      
    font-family: "Albert Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    color: #4E4138;     
}

header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
}

#titleContainer{
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
}

.logo{
    height: 70px;
    width: auto;
}

.accordion {
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(242, 238, 234);
    font-size: 18px;
    font-weight: bold;
}

  .accordion-header img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .accordion-content {
    display: none;
    padding: 10px;
    background-color: rgb(242, 238, 234);
  }

  .form-group {
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .form-group label {
    display: flex;
    margin-bottom: 5px;
  }

.form-group input {
    width: 95%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
}

.button-19 {
  appearance: button;
  background-color: #efaa89;
  border: solid transparent;
  border-radius: 10px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #4E4138;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
  margin-top: 5px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #f0b598;
  border: solid transparent;
  border-radius: 10px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19, .button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.buttonBlock{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
.upload-label {
    display: flex;
    border: 2px dashed #f0b598;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.upload-label:hover {
    border-color: #666;
}
  
.upload-input {
    display: none;
}
  
#fileName {
    color: #4E4138;
    font-size: 16px;
    text-align: center;
}

#accordion2, #accordion3, #accordion4, #accordion5, #accordion6 {
    margin: 0;
    padding: 0;
}

select {
    width: 100%; 
    padding: 10px; 
    border-radius: 10px; 
    background-color: white;
    font-size: 16px; 
    color: #4E4138; 
    border: 0px; 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    position: relative; 
    margin-bottom: 10px;
}

select::after {
    content: ''; 
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.select-wrapper::after {
    font-size: 14px;
    color: #4E4138; 
    position: absolute;
    right: 15px; 
    pointer-events: none; 
}

.radio-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4E4138;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button.add-education-btn, button.submit-education-btn, .remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0b598;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button.submit-education-btn {
    background-color: #2196F3;
}

.remove-btn {
    background-color: #e5766e;
    margin-top: 10px;
}


.experience-form, .education-form {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Albert Sans", serif;
}

button.add-experience-btn, .remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #f0b598;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.remove-resume-container {
    display: flex;
    justify-content: center;
}

.remove-resume-btn {
    padding: 10px 15px;
    background-color: #e5766e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.remove-resume-btn:hover {
    background-color: #d14a46;
}

.linkedInTop, .jobDescriptionTop {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
    color: #4E4138;
}

#linkedinWrapper, #jobWrapper {
    width: 97%;
    display: flex;
    color: #4E4138;
}

#linkedinProfile, #jobProfile {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0b598;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Albert Sans", serif;
    color: #4E4138;
}

.editable-highlight {
    background-color: white; /* Light gray background */
    border: 1px solid #d6987a;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Albert Sans", serif;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #4E4138;
    font-weight: 400;
}

label[for="linkedinProfile"] {
    margin-left: 10px;
}

label[for="jobDescriptionURL"]{
    margin-left: 10px;
    margin-top: 20px;
}

#generateFeature {
    color: #ccc;
    font-weight: bold;
    cursor: default;
    transition: color 0.3s ease;
}

#generateFeature:hover {
    color: #efaa89;
}

#googleSheetLink {
    width: 95%;
    padding: 10px;
    border: 1px solid #f0b598;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Albert Sans", serif;
    color: #4E4138;
    margin-left: 10px;
    margin-right: 10px;
}

#googleSheetLink-label {
    margin-top: 30px;
    margin-left: 10px;
}


#addJobBtn, #generateCoversheetBtn {
    width: 200px;
}


#addJobBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
}

#addJobBtn:not(:disabled):hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

